body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}
#header{
    background-image: url('https://www.pizzaexpress.vn/wp-content/uploads/2021/03/tinh-hoa-am-thuc-viet-nam-1_1.jpg');
    background-size: cover;   
    background-position: center;
    height: 300px;
    position: relative;
    color: #000;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: block;
}
#header .h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}
#menu{
    background-color: rgb(214, 60, 60);
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#menu ul li{
    position: relative; /*dùng để định dạng vị trí menu con*/
}
#menu ul li a{
    display: block;
    padding: 15px;
}
#menu ul li:hover{
    background-color: rgb(255, 187, 0);
}
#menu ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(252, 224, 183);
    min-width: 100px;
    flex-direction: column;
    z-index: 100;
}
#menu ul li:hover > ul{
    display: flex;
}
#menu ul li ul li ul{
    top: 0;
    left: 100%;
}
a{
    text-decoration: none;
    color: #000000;
}
#main{
    max-width: 1200px;
    margin: 20px auto;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}
.nen{
    padding: 10px;
    border: 15px solid white;
    overflow: auto;
    max-width: 540px;
    height: 250px;
}
.img{
    float: left;
    width: 220px;
    height: 220px;
    margin-right: 15px;
    border:5px solid hsl(52, 95%, 61%);
}
.more{
    padding: 10px;
    background-color: rgb(214, 60, 60);
    color: #000000;
    border-radius: 4px;
    margin-top: 10px;
    transition: background 0.3;
    max-width: 100px;
    text-align: center;
}
.more:hover{
    background-color:rgb(255, 187, 0) ;
}
.name{
    font-size: 12px;
    color: #1a6c01;
    transition: background 0.3;
}
.name:hover{
    color: red;
}
#footer{
    background-color: rgb(214, 60, 60);
    color: #000000;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
}
#footer p{
    margin: 0;
}